<div class="main-content">

  <img src="../assets/img/chucknorris_logo_coloured_small@2x.png" alt="">

  <div class="search-container">
    <input type="text" placeholder="Enter your Search Term" #searchTerm>
    <button (click)="searchJoke(searchTerm.value)">Search</button>
  </div>

  <div class="category-container">
    <span class="category" *ngFor="let category of categories" (click)="findJokeByCategory(category)">{{category}}</span>
  </div>

  <div class="joke-wrapper" *ngFor="let joke of jokes">
    <div class="joke">
      <img src = "./../assets/img/chuck-norris.png" alt="icon">
      <p>{{joke.value}}</p>
    </div>
  </div>
  


</div>